* {
  margin: 0;
  padding: 0;
}

body {
    max-width: 1440px;
  font-family: "Open Sans", sans-serif;
  background-color: blueviolet;
  background-image: url(../images/bg-desktop.svg);
  background-size: 1700px;
  background-repeat: no-repeat;
  color: #fff;
}

a {
  text-decoration: none;
}
